#
# General
# 

set $mod Mod4
set $modShift Mod4+Shift
set $modCtrl Mod4+Ctrl
set $meh Ctrl+Shift+Alt
set $term ghostty

set $exec exec --no-startup-id

#
# Behaviour
# 

floating_modifier $mod

focus_wrapping no
focus_follows_mouse yes
focus_on_window_activation smart

mouse_warping output
workspace_layout default
workspace_auto_back_and_forth yes

#
# Theme
#

font pango:monospace 8.000000
default_border pixel 2
default_floating_border normal 2
hide_edge_borders none

gaps inner 15
gaps outer 5
smart_gaps on
smart_borders on

# colorclass border background text indicator child_border
# 
client.focused #4c7899 #285577 #ffffff #2e9ef4 #285577
client.focused_inactive #333333 #5f676a #ffffff #484e50 #5f676a
client.unfocused #333333 #222222 #888888 #292d2e #222222
client.urgent #2f343a #900000 #ffffff #900000 #900000
client.placeholder #000000 #0c0c0c #ffffff #000000 #0c0c0c
client.background #ffffff

#
# Input
# 

input "*" {
  xkb_options compose:menu
}

#
# Keybinds
# 

# move focus

bindsym $mod+left focus left
bindsym $mod+down focus down
bindsym $mod+up focus up
bindsym $mod+right focus right

# move window

bindsym $modShift+left move left
bindsym $modShift+down move down
bindsym $modShift+up move up
bindsym $modShift+right move right

# go to workspace

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9

bindsym $mod+End workspace next
bindsym $mod+Home workspace prev


# move workspace

bindsym $modShift+1 move container to workspace 1
bindsym $modShift+2 move container to workspace 2
bindsym $modShift+3 move container to workspace 3
bindsym $modShift+4 move container to workspace 4
bindsym $modShift+5 move container to workspace 5
bindsym $modShift+6 move container to workspace 6
bindsym $modShift+7 move container to workspace 7
bindsym $modShift+8 move container to workspace 8
bindsym $modShift+9 move container to workspace 9

bindsym $modShift+End move container to workspace next
bindsym $modShift+Home move container to workspace prev

# launchers

bindsym $mod+space exec fuzzel
bindsym Alt+space exec --no-startup-id wofi --show drun,run

for_window [app_id="^launcher$"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
set $menu exec foot -a launcher -e sway-launcher-desktop
bindsym Ctrl+Space exec $menu

# jump to recent / running

bindsym Alt+Tab exec swayr switch-window
bindsym --release $mod exec swayr nop
bindsym $mod+Tab exec swayr switch-to-urgent-or-lru-window

# layouts

bindsym $mod+Alt+c layout toggle all
bindsym $mod+c layout toggle split
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed

bindsym $mod+f fullscreen toggle
bindsym $mod+g split horizontal
bindsym $mod+v split vertical
bindsym $mod+b split none

bindsym $mod+Shift+l floating toggle
bindsym $mod+l focus mode_toggle

bindsym $mod+n scratchpad show
bindsym $mod+Shift+n move scratchpad

bindsym $mod+q sticky disable
bindsym $mod+x sticky enable

bindsym $mod+h focus parent
bindsym $mod+i focus child

# resize

bindsym $mod+r mode resize

mode "resize" {
  set $S 25
  set $M 100
  set $L 200

  bindsym Left  resize shrink width  $M px
  bindsym Down  resize shrink height $M px
  bindsym Up    resize grow   height $M px
  bindsym Right resize grow   width  $M px
  
  bindsym Shift+Left  resize shrink width     $L px
  bindsym Shift+Down  resize shrink height    $L px
  bindsym Shift+Up    resize grow   height    $L px
  bindsym Shift+Right resize grow   width     $L px

  bindsym Alt+Left  resize shrink  width  $S px
  bindsym Alt+Down  resize shrink  height $S px
  bindsym Alt+Up    resize grow    height $S px
  bindsym Alt+Right resize grow    width  $S px
  
  bindsym h resize shrink  width $S px
  bindsym a resize shrink height $S px
  bindsym e resize grow   height $S px
  bindsym i resize grow    width $S px

  bindsym Escape mode default
  bindsym Return mode default
}

# reap, lock, reload

bindsym $mod+k kill
bindsym $modCtrl+l exec swaylock-fancy
bindsym $modShift+r exec swaymsg reload
bindsym $modCtrl+q exit

# media keys

bindsym XF86AudioRaiseVolume exec swayosd-client --output-volume raise --max-volume 100
bindsym XF86AudioLowerVolume exec  swayosd-client --output-volume lower 
bindsym XF86AudioMute exec swayosd-client --output-volume mute-toggle
bindsym XF86AudioMicMute exec swayosd-client --input-volume mute-toggle

bindsym XF86MonBrightnessUp exec swayosd-client --brightness raise
bindsym XF86MonBrightnessDown exec swayosd-client --brightness lower

bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym --release Caps_Lock exec swayosd-client --caps-lock

#
# App Shortcuts
#

bindsym $mod+p exec $term
bindsym $mod+z exec --no-startup-id grimshot savecopy area

# Apps: run or raise

bindsym $meh+1 exec swaymsg [class=^1Password$] focus || 1password

bindsym $meh+b exec swaymsg [app_id=^floorp$] focus || floorp
bindsym $meh+y exec swaymsg [class=^Spotify$] focus || spotify
bindsym $meh+o exec swaymsg [class=^obsidian$] focus || obsidian

bindsym $meh+s exec swaymsg [class=^Slack$] focus || slack
bindsym $meh+g exec swaymsg [class=^Steam$] focus || steam
bindsym $meh+f exec swaymsg [app_id=^nemo$] focus || nemo

bindsym $meh+z exec swaymsg [app_id=^dev.zed.Zed$] focus || zeditor

bindsym $mod+Return exec $term
# TODO learn how to tab through all windows of a given type?
bindsym $meh+apostrophe exec swaymsg [app_id=^com.mitchellh.ghostty$] focus || ghostty

#
# Startup
# 

# fix default browser; see https://github.com/NixOS/nixpkgs/issues/189851
# note: we need to wait for this before launching some apps
# could we do it in a greetd wrapper?
exec systemctl --user import-environment PATH && systemctl --user restart xdg-desktop-portal.service

exec swaybg -i ~/Pictures/wallpaper/dark-water.jpg -m fill
exec waybar -c $HOME/.config/waybar/config.jsonc

# servers
exec env RUST_BACKTRACE=1 RUST_LOG=swayr=debug swayrd > /tmp/swayrd.log 2>&1
exec swayosd-server
exec sleep 1 && gnome-keyring-daemon --start --daemonize --components=secrets,ssh && export SSH_AUTH_SOCK

# tray
exec sleep 1 && blueman-tray
exec $HOME/.config/waybar/scripts/timer serve > /tmp/timer.log 2>&1
exec 1password --silent
# exec = swayosd-server
exec copyq --start-server
exec sleep 1 && udiskie
exec 1password --silent
exec steam --silent
exec sleep 1 && flameshot
exec sleep 1 && slack --silent -u

# apps 
exec floorp
exec sleep 1 && signal-desktop
