# avoid recursion!
.cfg
result
.cache
.DS_Store

# don't add backup files
*~
*.backup
*.bak
*.nixed
\#*\#
backup/


# Split out into its own repo (github.com/davidlee/emacs-config) on 2026-05-23
.emacs.d/
