@define-color slate #1F2A35;
@define-color blue #1F2A35;
@define-color red #F53C3C;
@define-color green #2ECC71;

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.ghostty {
    background-color: #3F3F3F;
    border:none;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

window#waybar.floorp {
    background-color: red;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

/*
 *  workspaces
*/

#workspaces, #taskbar, #mode {
    border-right: 2px dashed #333;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    font-family: "Monaspace Argon";
    font-size: 12px;
    color: #ffffff;
}

#workspaces button.empty {
    color: #666;
    font-weight: 100;
}

/* hypr and sway have different classnames for this */
#workspaces button.active, #workspaces button.focused {
    color: white;
    font-weight: 900;
    background-color: red;
    background: black;
    animation-name: blink;
    animation-duration: 0.05s;
    animation-timing-function: ease;
    animation-iteration-count: 5;
    animation-direction: alternate;
    box-shadow: inset 0 -3px #ffffff;
}

/* specificity: ensure font weight is applied when .empty */ 
#workspaces button:hover, #workspaces button.empty:hover {
    background: rgba(0, 0, 0, 0.2);
    animation-name: blink;
    animation-duration: 0.02s;
    animation-timing-function: ease;
    font-weight: 900;
}

/* we might have to add something back here for hyprland ... */
#workspaces button.focused {
    /* background-color: rgba(0,0,0,0.3); */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    font-weight: 900;
}

#mode {
    font-family: Inconsolata;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    padding: 9px 12px;
    box-shadow: inset 0 -3px #ffffff;
    background-color: @slate;
}

/*
 *  other
*/

#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#mpd,
#wireplumber,
#tray,
/* #mode, */
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris,
#gamemode,
#custom-media,
#custom-timer,
#custom-weather,
#custom-agenda,
#privacy-item
{
    font-family: FontAwesome;
    font-size: 12px;
    padding: 9px 12px;
    color: #ffffff;
    background-color: @slate;
    /* box-shadow: inset 0 -3px rgba(1,1,1,0.2); */
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}

#window {
    /* font-family: "Monaspace Argon Frozen", Consolas; */
    font-family: "Inconsolata", Consolas;
    font-size: 14px;
    /* box-shadow: inset 0 -3px #111; */
}

#clock {
    font-family: Consolas;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: @green;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
    background-color: @blue;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(0,0,0,0.05);

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    /* padding: 0; */
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
#custom-weather {
}
