// https://sr.ht/~tsdh/nirius/

spawn-at-startup "emacs"
spawn-at-startup "firefox"
spawn-at-startup "ghostty"
spawn-at-startup "spotify"
spawn-at-startup "fastmail"

spawn-at-startup "1password" "--silent"
spawn-at-startup "slack" "--silent" "-u"
spawn-at-startup "signal-desktop"

// ================================================================

window-rule {
    match at-startup=true app-id=r#"^emacs$"#
    open-on-workspace "emacs"
}

window-rule {
    match at-startup=true app-id=r#"^firefox$"#
    open-on-workspace "browser"
}

window-rule {
    match at-startup=true app-id=r#"^com.mitchellh.ghostty$"#
    open-on-workspace "util"
}

window-rule {
    match at-startup=true app-id=r#"^com-fastmail-fastmail$"#
    open-on-workspace "util"
}

window-rule {
    match at-startup=true app-id=r#"^slack$"#
    open-on-workspace "comms"
}

window-rule {
    match at-startup=true app-id=r#"^signal$"#
    open-on-workspace "comms"
}

window-rule {
    match at-startup=true app-id=r#"^1password$"#
    open-on-workspace "util"
}

// ================================================================

binds {
    Mod+Return hotkey-overlay-title="Launch Terminal (ghostty)" { spawn "ghostty"; }
    Mod+K hotkey-overlay-title="Launch Terminal (Kitty)" { spawn "kitty"; }
    Mod+Shift+Return hotkey-overlay-title="Launch Browser (Firefox)" { spawn "firefox"; }

    // Term
    Mod+Apostrophe   hotkey-overlay-title="Launch ghostty"        { spawn-sh "~/.local/bin/raise-cycle-spawn com.mitchellh.ghostty ghostty"; }
    Ctrl+Alt+Shift+Apostrophe hotkey-overlay-title="Launch kitty" { spawn-sh "~/.local/bin/raise-cycle-spawn kitty kitty"; }

    // Meh
    Ctrl+Alt+Shift+G hotkey-overlay-title="-> Signal"      { spawn-sh "~/.local/bin/niri-scratch-spawn signal signal-desktop"; }
    Ctrl+Alt+Shift+S hotkey-overlay-title="-> Slack"       { spawn-sh "~/.local/bin/niri-scratch-spawn slack slack"; }
    Ctrl+Alt+Shift+Y hotkey-overlay-title="-> Spotify"     { spawn-sh "~/.local/bin/niri-scratch-spawn Spotify spotify"; }
    Ctrl+Alt+Shift+1 hotkey-overlay-title="-> 1Password"   { spawn-sh "~/.local/bin/niri-scratch-spawn 1password 1password "; }
    Ctrl+Alt+Shift+C hotkey-overlay-title="-> Clock"       { spawn-sh "ghostty --title=CLOCK -e clock-rs --fmt \"%d %b\" -c blue"; }

    Ctrl+Alt+Shift+Grave hotkey-overlay-title="Launch emacs" { spawn-sh "~/.local/bin/raise-cycle-spawn emacs emacs"; }
    Ctrl+Alt+Shift+O hotkey-overlay-title="-> Obsidian"    { spawn-sh "~/.local/bin/raise-cycle-spawn obsidian ~/.local/bin/obsidian"; }
    Ctrl+Alt+Shift+T hotkey-overlay-title="-> Thunderbird" { spawn-sh "~/.local/bin/raise-cycle-spawn thunderbird thunderbird"; }
    Ctrl+Alt+Shift+B hotkey-overlay-title="-> Firefox"     { spawn-sh "~/.local/bin/raise-cycle-spawn firefox firefox"; }

}

