// Input device configuration.
// Find the full list of options on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            options "compose:menu"
        }
        numlock
    }

    mouse {
        accel-speed 0.4
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }
    trackball {
        accel-speed 0.2
        scroll-button-lock
    }

    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse  max-scroll-amount="30%"
    // warp-mouse-to-focus
    workspace-auto-back-and-forth
}


// https://niri-wm.github.io/niri/Configuration:-Outputs
output "DP-3" {
    scale 1.1
}


