//
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
prefer-no-csd
layout {
    //   never | always | on-overflow
    center-focused-column "on-overflow"
    background-color "transparent"
    // background-color "00000020"
    preset-column-widths {
        proportion 0.2
        proportion 0.25
        proportion 0.33333
        proportion 0.4
        proportion 0.66667
        proportion 0.8
    }
    default-column-width {
        proportion 0.25;
    }
    focus-ring {
        on
        width 2
        active-color "#5f7700"
        inactive-color "#505050"
        active-gradient from="#907033" to="#5f7700" angle=-45 in="oklch longer hue" relative-to="workspace-view"
    }
    shadow {
        on
        softness 30
        spread 2
        offset x=0 y=3
        color "#000000ff"
        draw-behind-window false
    }
    struts {
        top 1
        left 10
    }
    tab-indicator {
        active-color   "#7aa2f7"
        inactive-color "#003dbf"
        urgent-color   "#f7768e"
    }
    insert-hint {
        color "#7aa2f780"
    }
}

overview {
    backdrop-color "transparent"
    workspace-shadow {
        on
        softness 40
        spread 7
        color "000000ff"
        offset x=1 y=6
    }
}
recent-windows {
    // debounce-ms 750
    // open-delay-ms 150
    highlight {
        active-color "#7aa2f7ff"
        urgent-color "#f7768eff"
        padding 20
        corner-radius 12
    }
    previews {
        max-height 990
        max-scale 0.7
    }
    binds {
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}
