// https://niri-wm.github.io/niri/Configuration:-Window-Rules



// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// // Example: block out two password managers from screen capture.
// // (This example rule is commented out with a "/-" in front.)
// /-window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$"#
//     match app-id=r#"^org\.gnome\.World\.Secrets$"#
//
//     block-out-from "screen-capture"
//
//     // Use this instead if you want them visible on third-party screenshot tools.
//     // block-out-from "screencast"
// }

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}


// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

// https://github.com/Drakulix/cosmic-ext-extra-sessions/tree/main/niri

// window-rule {
//     match app-id="ghostty"
// }

window-rule {
    match app-id="slack"
    open-floating true
}

window-rule {
    match app-id="signal"
    open-floating true
}

window-rule {
    match app-id="zoom"
    open-floating true
}
window-rule {
    match app-id="Spotify"
    open-floating true
}
// ?
// Enable blur behind the fuzzel launcher.
layer-rule {
    match namespace="^launcher$"
    background-effect {
        blur true
    }
}

