# WARN: this file is in version control, don't add secrets
#
use flake . --impure

case "$(uname -s)" in
Darwin) export SLEIPNIR_BUILD='.#darwinConfigurations."fusillade".system' ;;
*) export SLEIPNIR_BUILD='.#nixosConfigurations."Sleipnir".config.system.build.toplevel' ;;
esac

cat logo.txt
